* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 450px;
  grid-gap: 10px;
}

.item {
  background-color: #eee;
}

.special-item {
  background-color: cornflowerblue;
  /* grid-area: look; */
  display: none;
}

.special-item-second {
  background-color: cornflowerblue;
  grid-area: looksecond;
  display: none;
}

img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.look {
  height: 100%;
}

.product-details {
  height: 50px;
}

@media screen and (min-width: 930px) {

  .special-item {
    display: block;
    grid-area: 1 / 3 / 3 / 5;
  }

  .special-item-second {
    display: block;
    grid-area: 5 / 1 / 7 / 3;
  }
  /* .grid {
    grid-template-areas:
    "none none look look"
    "none none look look";
  } */
}

@media screen and (min-width: 1140px) {

  .special-item {
    display: block;
    grid-area: 1 / 4 / 3 / 6;
  }

  .special-item-second {
    display: block;
    grid-area: 5 / 1 / 7 / 3;
  }
  /* .grid {
    grid-template-areas: "none none none look look"
                         "none none none look look";
  } */
}

@media screen and (min-width: 1350px) {

  .special-item {
    display: block;
    grid-area: 1 / 5 / 3 / 7;
  }

  .special-item-second {
    display: block;
    grid-area: 5 / 1 / 7 / 3;
  }
  /* .grid {
    grid-template-areas: "none none none none look look"
                         "none none none none look look";
  } */
}

@media screen and (min-width: 1560px) {

  .special-item {
    display: block;
    grid-area: 1 / 6 / 3 / 8;
  }

  .special-item-second {
    display: block;
    grid-area: 5 / 1 / 7 / 3;
  }

  /* .grid {
    grid-template-areas: "none none none none none look look"
                         "none none none none none look look";
  } */
}
