* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 50px;
}

.item {
  display: inline-block;
  min-width: 200px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.look-box {
  display: none;
}


@supports (display: grid) {

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 490px;
    grid-gap: 10px;
  }

  .look {
    height: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }


  /* example on height of fext inside boxes */
  .product-details {
    height: 50px;
  }

  /* 4x */
  @media screen and (min-width: 930px) {

    .special-item-0 {
      display: block;
      grid-area: 1 / 3 / 3 / 5;
    }

    .special-item-1 {
      /* display: block; */
      grid-area: 5 / 1 / 7 / 3;
    }

    .special-item-2 {
      /* display: block; */
      grid-area: 9 / 3 / 11 / 5;
    }

    .special-item-3 {
      /* display: block; */
      grid-area: 13 / 1 / 15 / 3;
    }

    .special-item-4 {
      /* display: block; */
      grid-area: 17 / 3 / 19 / 5;
    }

    .special-item-5 {
      /* display: block; */
      grid-area: 21 / 1 / 23 / 3;
    }
  }

  /* 5x */
  @media screen and (min-width: 1140px) {

    .special-item-0 {
      /* display: block; */
      grid-area: 1 / 4 / 3 / 6;
    }

    /* .special-item-1 {
      display: block;
      grid-area: 5 / 1 / 7 / 3;
    } */

    .special-item-2 {
      /* display: block; */
      grid-area: 9 / 4 / 11 / 6;
    }

    .special-item-3 {
      /* display: block; */
      grid-area: 13 / 1 / 15 / 3;
    }

    .special-item-4 {
      /* display: block; */
      grid-area: 17/ 4 / 19 / 6;
    }

    .special-item-5 {
      /* display: block; */
      grid-area: 21 / 1 / 23 / 3;
    }
  }

  /* 6 */
  @media screen and (min-width: 1350px) {

    .special-item-0 {
      display: block;
      grid-area: 1 / 5 / 3 / 7;
    }

    .special-item-1 {
      /* display: block; */
      grid-area: 5 / 1 / 7 / 3;

    }

    .special-item-2 {
      /* display: block; */
      grid-area: 9 / 5 / 11 / 7;
    }

    .special-item-3 {
      /* display: block; */
      grid-area: 13 / 1 / 15 / 3;
    }

    .special-item-4 {
      /* display: block; */
      grid-area: 17/ 5 / 19 / 7;
    }

    .special-item-5 {
      /* display: block; */
      grid-area: 21 / 1 / 23 / 3;
    }

  }

  /* 7 */
  @media screen and (min-width: 1560px) {

    .special-item-0 {
      display: block;
      grid-area: 1 / 6 / 3 / 8;
    }

    .special-item-1 {
      /* display: block; */
      grid-area: 5 / 1 / 7 / 3;

    }

    .special-item-2 {
      /* display: block; */
      grid-area: 9 / 6 / 11 / 8;
    }

    .special-item-3 {
      /* display: block; */
      grid-area: 13 / 1 / 15 / 3;
    }

    .special-item-4 {
      /* display: block; */
      grid-area: 17/ 6 / 19 / 8;
    }

    .special-item-5 {
      /* display: block; */
      grid-area: 21 / 1 / 23 / 3;
    }

  /* 8 */
    @media screen and (min-width: 1769px) {

      .special-item-0 {
        display: block;
        grid-area: 1 / 1 / 3 / 3;
      }

      .special-item-1 {
        display: block;
        grid-area: 1 / 7 / 3 / 9;
      }

      .special-item-2 {
        display: block;
        grid-area: 4 / 4 / 6 / 6;
      }

      .special-item-3 {
        display: block;
        grid-area: 7 / 1 / 9 / 3;
      }

      .special-item-4 {
        display: block;
        grid-area: 7 / 7 / 9 / 9;
      }
  }

}
