* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 300px;
  grid-gap: 10px;
}

.item {
  background-color: coral;
}

.special-item {
  background-color: cornflowerblue;
  grid-area: look;
  display: none;
}

.special-item-second {
  background-color: cornflowerblue;
  grid-area: looksecond;
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 930px) {

  .special-item {
    display: block;
  }
  .grid {
    grid-template-areas:
    "none none look look"
    "none none look look";
  }
}

@media screen and (min-width: 1140px) {
  .grid {
    grid-template-areas: "none none none look look"
                         "none none none look look";
  }
}

@media screen and (min-width: 1350px) {
  .grid {
    grid-template-areas: "none none none none look look"
                         "none none none none look look";
  }
}

@media screen and (min-width: 1560px) {
  .grid {
    grid-template-areas: "none none none none none look look"
                         "none none none none none look look";
  }
} */

/* @media screen and (min-with: max-width: 1139px) {
  .grid {
    grid-template-areas: "none none none look look"
                         "none none none look look";
  }
}
